@import '../../responsive.scss';

nav {
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .link {
    transition: all 0.4s ease;

    @include sm {
      display: none;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 3.125rem;

    .logo {
      font-weight: bold;
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      gap: 0.6rem;

      img {
        width: 1.8rem;
      }

      span {
        @include md {
          display: none;
        }

        @include sm {
          display: initial;
        }
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      background-color: transparent;
    }

    .link {
      padding: 0.7rem 1.5rem;
      margin: 1.25rem;
    }

    .user {
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 1.25em;

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
        @include sm {
          display: none;
        }
      }

      .profile {
        padding: 0.6rem 1.25rem;
        background-color: #fece51;
        cursor: pointer;
        width: max-content;
        border: none;
        position: relative;

        @include sm {
          display: none;
        }

        .notification {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: red;
          color: white;
          border-radius: 50%;
          width: 1.6rem;
          height: 1.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .register {
      background-color: #fece51;
      height: max-content;
      text-align: center;
    }

    .login {
      height: max-content;
      text-align: center;
    }

    .menuIcon {
      display: none;
      z-index: 999;

      img {
        width: 2.2rem;
        height: 2.2rem;
        cursor: pointer;
      }

      @include sm {
        display: inline;
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: black;
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }
  }
}